* {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Start */

/* Normal Selectors: CSS rule is applied to the element/class/id(don't use this) defined */

footer {
  font-size: 0.25rem;
}

.floorPlan {
  width: 300px;
  height: 300px;
  transform: rotate(-90deg);

  /* add this in later for simple image rotation */
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

/* Group Selectors: applies style to each groups of elements, split by ",", can be used with different classes and tags */

h1,
h2,
h3 {
  /* background-color: blue; */
  /* color: purple; */
  color: #4b2e83;
}

/* Combined Selectors: allows you to combine elements and classes to choose a specific element/elements */
/* Two classes can be combined, because HTML tags can have more than one attribute*/

h2.aboutTitle {
  font-style: italic;
}

h2.postTitle {
  font-weight: 200;
}

/* Descendant Selectors: Can choose styles that are nested within other elements/classes (elements/classes that are the descendants of others) */

article h3 {
  margin-left: 1rem;
}

article p {
  margin-left: 1rem;
}

/* This selector, using ">" chooses only direct children of a parent element, notice only the paragraph one layer beneath "article" is affected by this statement */
article > p {
  margin-left: 0;
}

/* Psuedo-Classes: Styles that are affected by th state of the element (is it being hovered/focused on? etc.) */

/* Note: a:hover must come after a:link/a:visited (if used in combination), and a:active must come after a:hover for these states to work correctly. */

/* Also Note: your links will always have the "visited" look attached after you click them once in testing (has something to do with how chrome caches styles so that it runs better on return visits.) Try opening up your live server in another browser or clear your recent cache to make sure your "link" styles are working correctly */

a:link {
  color: #85754d;
}

a:visited {
  color: #4b2e83;
}

/* ALWAYS change focus if you change hover so the experience is the same with screenreaders */
a:hover {
  background-color: #b7a57a;
}

a:focus {
  background-color: #b7a57a;
}

a:active {
  color: white;
}

/* Nth Selectors: allow you to style specific elements based on their position in the DOM tree */

li:nth-of-type(even) {
  background-color: lightgray;
}

li:nth-of-type(odd) {
  background-color: lightpink;
}

li:nth-of-type(4):hover {
  background-color: whitesmoke;
}

li:hover {
  background-color: whitesmoke;
}
li:focus {
  background-color: whitesmoke;
}

/* Some powerful animations can be done purely in css, but will require some specifications */

.floorplan:hover {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* add something from animista */

/* Use animations sparingly, if they are overused or seem shoehorned it may not help your website */

.color-change-5x {
  -webkit-animation: color-change-5x 8s linear infinite alternate both;
  animation: color-change-5x 8s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-13 2:43:48
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

h2 {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  padding: 1em;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-13 2:47:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
